script(type="text/ng-template", id="about.html")
    div(layout="row", layout-align="center")
        div(flex="25", flex-sm="0", flex-md="20")
        div(flex="50", flex-sm="100", flex-md="60")
            md-card
                md-card-content
                    div(layout="row")
                        div(flex="10")
                        div(flex="80")
                            h1.md-display-1 Clickberry changes the game for the way we watch and share video
                            p Clickberry allows viewers to share the very best pieces of video - whether it's top highlights, tagged friends, interesting things worth buying, or memorable moments. Curating and archiving the best video from around the web has never been easier. Clickberry is a delightful, new way to share the moments that move you. Highlight dramatic moments, interesting things &amp; friends and quickly bring stories to the world's attention.
                            p Founded in 2011, we are based in Los Altos (California) and Moscow (Russia). Since 2011 we've grown from 4 people to 25 professionals united by the idea to disrupt the way people communicate with video.
                        div(flex="10")
        div(flex="25", flex-sm="0", flex-md="20")                
    div(ui-view="video")
