script(type="text/ng-template", id="contacts.html")
    div(layout="row", layout-align="center")
        div(flex="25", flex-sm="0", flex-md="20")
        div(flex="50", flex-sm="100", flex-md="60")
            form(name="feedbackform", ng-submit="submit(feedback)")
                md-card
                    md-card-content
                        div(layout="row")
                            div(flex="10")
                            div(flex="80")
                                h1.md-display-1 Clickberry Feedback
                                md-input-container.md-block
                                md-input-container.md-block.md-title
                                    label Email
                                    input(required, type="email", name="feedbackEmail", ng-model="feedback.email", minlength="6", maxlength="100", ng-pattern="/^.+@.+\..+$/")
                                md-input-container.md-block.md-title
                                    label Name
                                    input(type="text", name="feedbackName", ng-model="feedback.name")
                                md-input-container.md-block.md-title
                                    label Comment
                                    textarea(required, name="feedbackComment", ng-model="feedback.comment", md-maxlength="150", rows="5", md-select-on-focus)
                                md-card-actions(layout="row", layout-align="end center")
                                    md-button(ng-href='#', ui-sref='home') Cancel
                                    md-button.md-raised.md-accent(type="submit", ng-disabled="feedbackform.$invalid || loading")
                                        i.fa.fa-circle-o-notch.fa-spin.faster(ng-show="loading") 
                                        span  Submit
                            div(flex="10")
        div(flex="25", flex-sm="0", flex-md="20")
