script(type="text/ng-template", id="home.html")
    .video-grid(layout-padding, ng-cloak, ng-if="projects.length", infinite-scroll="loadProjects()")
        md-grid-list(md-cols="12", md-row-height="1:1", md-gutter="20px")
            md-grid-tile(ng-repeat="project in projects", md-rowspan-gt-md="{{project.rows}}", md-rowspan="8", md-colspan-gt-md="{{project.cols}}", md-colspan="12")
                a(href='#', ui-sref='home.video({id: project.id})')
                    span.image(ng-style="{'background-image': 'url({{project.imageUri}})'}")
                        img(ng-src="{{project.imageUri}}")
                md-grid-tile-footer(ng-class="{'with-author': profilesCache[project.userId]}")
                        div.author-profile(ng-if="profilesCache[project.userId]")
                            a.author-avatar(href="#", ui-sref="user-page({id: project.userId})", ng-class="{'image-only': profilesCache[project.userId].avatarUrl}", style="background-image: url({{profilesCache[project.userId].avatarUrl}});", title="{{profilesCache[project.userId].name}}") {{profilesCache[project.userId].name | abbreviation}}
                        h3
                            a(href='#', ui-sref='home.video({id: project.id})', title="{{project.name}}") {{project.name}}
                        .sub-info
                            span {{project.description}}
                            i(ng-if="project.description")  · 
                            span {{project.created | apiDateFromNow}}
                        div.buttons(layout="row", layout-align="end end")
                            md-fab-speed-dial.md-scale(md-direction="up")
                                md-fab-trigger
                                    md-button.md-icon-button.soc-share(aria-label="More")
                                        i.fa.fa-retweet
                                md-fab-actions
                                    md-button(href="#", aria-label="Twitter", class="md-fab md-raised md-mini", share, share-url="{{project.shareUrl}}", share-title="{{project.name}}", share-description="{{project.description}}", share-image="{{project.imageUri}}", share-type="twitter")
                                        md-icon.fa.fa-twitter-square(aria-label="Twitter")
                                    md-button(href="#", aria-label="Facebook", class="md-fab md-raised md-mini", share, share-url="{{project.shareUrl}}", share-title="{{project.name}}", share-description="{{project.description}}", share-image="{{project.imageUri}}", share-type="facebook")
                                        md-icon.fa.fa-facebook-square(aria-label="Facebook")
                                    md-button(href="#", aria-label="Google", class="md-fab md-raised md-mini", share, share-url="{{project.shareUrl}}", share-title="{{project.name}}", share-description="{{project.description}}", share-image="{{project.imageUri}}", share-type="google")
                                        md-icon.fa.fa-google-plus-square(aria-label="Pinterest")
                                    md-button(href="#", aria-label="Vk", class="md-fab md-raised md-mini", share, share-url="{{project.shareUrl}}", share-title="{{project.name}}", share-description="{{project.description}}", share-image="{{project.imageUri}}", share-type="vk")
                                        md-icon.fa.fa-vk(aria-label="Vk")
    div(layout="row", flex="100", ng-show="loading", align-children="center")
        md-button(aria-label="Video List Loading", flex, ng-disabled="true")
            span Loading 
            i.fa.fa-circle-o-notch.fa-spin.faster
    div(ui-view="video")
