script(type="text/ng-template", id="home.html")
    .video-grid
        md-card
            md-card-content
                div(layout='column', layout-align='center')
                    img(src='images/video-grid.png')