script(type="text/ng-template", id="menu.html")
    md-toolbar.cb-top-menu.md-hue-2(ng-class="{'md-tall': menuExpanded}")
        .md-toolbar-tools
            a.cb-brand-menu(ng-href="/", ui-sref="home", aria-label="Clickberry Home")
            span(flex)

            //- Main menu
            span.hide.show-gt-md
                span(ng-show="loading")
                    md-button.md-icon-button(aria-label="Profile Loading")
                        i.fa.fa-circle-o-notch.fa-spin.faster
                span(ng-show="!user && !loading")
                    md-button.md-primary Online editor
                    md-button.md-primary Support
                    md-button.md-primary(ng-click="signin()") Sign in
                    md-button.cb-user-menu(ng-click="signup()") Sign up for free
                span(ng-show="user && !loading")
                    md-button.md-primary Videos
                    md-button.md-icon-button(aria-label="Likes")
                        i.fa.fa-heart
                    md-menu(md-position-mode="target-right target")
                        md-button.cb-user-menu(aria-label="Account Settings", ng-click="$mdOpenMenu($event)", ng-class="{'md-icon-button': !user.email}")
                            span(md-menu-origin)
                                span(ng-if="user.name || user.email", ng-bind="user.name || user.email")
                                i.fa.fa-cog(ng-if="!user.email && !user.name")
                        md-menu-content(width="2")
                            md-menu-item
                                md-button(ng-click="profile()")
                                    span(md-menu-align-target) Profile
                            md-menu-item
                                md-button(ng-click="signoff()")
                                    span(md-menu-align-target) Sign off

            //- Expand button
            md-button.md-icon-button.hide-gt-md(aria-label="Menu", ng-click="toggleMenu($event)")
                i.fa.fa-bars

        //- Mobile menu
        div.hide-gt-md(ng-show="menuExpanded")
            div(ng-show="!user", layout="column")
                md-button.md-primary Online editor
                md-button.md-primary Support
                md-button.md-primary(ng-click="signin()") Sign in
                md-button.cb-user-menu(ng-click="signup()") Sign up for free
            div(ng-show="user", layout="column")
                md-button.md-primary Videos
                md-button.md-primary Likes
                md-menu(md-position-mode="target-right target")
                    md-button.cb-user-menu(aria-label="Account Settings", ng-click="$mdOpenMenu($event)")
                        span(md-menu-origin)
                            span(ng-if="user.name || user.email", ng-bind="user.name || user.email")
                            span(ng-if="!user.email && !user.name") Account Settings
                    md-menu-content(width="2")
                        md-menu-item
                            md-button(ng-click="profile()")
                                span(md-menu-align-target) Profile
                        md-menu-item
                            md-button(ng-click="signoff()")
                                span(md-menu-align-target) Sign off
