script(type="text/ng-template", id="menu.html")
    md-toolbar.cb-top-menu.md-hue-2
        .md-toolbar-tools
            a.cb-brand-menu(ng-href="/", ui-sref="home", aria-label="Clickberry Home")
            span(flex)

            //- Main menu
            md-button.md-icon-button(ng-href="/", aria-label="Home")
                i.fa.fa-home
            
            //- Unauthorized
            md-menu(ng-show="!user && !loading", md-position-mode="target-right target")
                md-button.md-icon-button(aria-label="Authorize", ng-click="$mdOpenMenu($event)")
                    span(md-menu-origin)
                        i.fa.fa-user
                md-menu-content(width="2")
                    md-menu-item
                        md-button(ng-href='#', ui-sref="signin")
                            span(md-menu-align-target) Sign in
                    md-menu-item
                        md-button(ng-href='#', ui-sref="signup")
                            span(md-menu-align-target) Sign up for free
            
            //- Authorized
            md-menu(ng-show="user && !loading", md-position-mode="target-right target")
                md-button.md-icon-button(aria-label="Account", ng-click="$mdOpenMenu($event)")
                    span(md-menu-origin)
                        i.fa.fa-user
                md-menu-content(width="2")
                    md-menu-item
                        md-button(ng-href='#', ui-sref="my-videos")
                            span(md-menu-align-target) Videos
                    md-menu-item
                        md-button(ng-href='#', ui-sref="profile")
                            span(md-menu-align-target) Profile
                    md-menu-item
                        md-button(ng-href='#', ui-sref="account-settings")
                            span(md-menu-align-target) Settings                            
                    md-menu-item
                        md-button(ng-click="signoff()")
                            span(md-menu-align-target) Sign off

            //- Loading indicator
            md-button.md-icon-button(ng-show="loading", aria-label="Profile Loading")
                i.fa.fa-circle-o-notch.fa-spin.faster                                    

            md-button.cb-user-menu.md-icon-button(ng-href="#", aria-label="Online Editor", ng-click="goToEditor()")
                i.fa.fa-pencil
