bg = #eee

brand-green = #4caf50

menu-bg = #292929

footer-bg = #333333
footer-text = rgba(255, 255, 255, 0.5)
footer-text-hover = rgba(255, 255, 255, 1)
footer-border = #222222
footer-heading = #ffffff

social-text = rgba(255, 255, 255, 0.9)
facebook = rgba(59, 89, 152, 1)
facebook-light = rgba(59, 89, 152, 0.9)
google = rgba(221, 75, 57, 1)
google-light = rgba(221, 75, 57, 0.9)
vk = rgba(78, 114, 154, 1)
vk-light = rgba(78, 114, 154, 0.9)
twitter = rgba(63, 179, 233, 1)
twitter-light = rgba(63, 179, 233, 0.9)