@import colors
@import login

body
    background-color: bg

// Top navigation
.navbar.top-menu
    background-color: menu-bg
    //border-top: 6px solid brand-green
    
    .navbar-nav
        > li > a
            padding: 8px 12px
            
        > .active > a
          &,
          &:hover,
          &:focus
            color: inherit;
            background-color: rgba(0, 0, 0, 1);

@media (min-width: 768px)
    .navbar.top-menu
        .navbar-nav > li > a
            margin: 12px 0 12px 9px
            padding: 8px 12px

// Brand menu item
.navbar-brand.brand-menu
    text-indent: -1000em
    width: 180px
    background: url(/images/brand.png) no-repeat center center

// Logged in user menu
.user-menu
    margin-left: 9px

    [class^=mdi-]
    [class*=mdi-]
        font-size: 20px
        margin-left: 5px
        vertical-align: middle;

// Page content
.page-content
    padding: 100px 0

// Footer
.page-footer
    background: footer-bg
    color: footer-text
    font-size: 14px
    border-top: 10px solid footer-border
    padding: 20px 0 20px
    
    p
        margin-bottom: 5px

    .brand-footer
        width: 120px
        height: 30px
        margin-bottom: 10px
        background: url(/images/brand-footer.png) no-repeat left top
    
    .brand-copyright
        font-size: 10px
        margin-bottom: 30px
        
        [class^=mdi-]
        [class*=mdi-]
            font-size: 14px

    for n in 1..6
        h{n}
            color: footer-heading
    
    a
        color: footer-text
        
        &:hover
            color: footer-text-hover
    
    ul.bottom-menu
        margin: 0 0 30px
        padding: 0

        li
            list-style: none
            margin-bottom: 10px
            
// Bootstrap
.btn.btn-lg
    padding: 20px 30px
    