@import colors

.top-menu
    background-color: menu-gray
    border-top: 6px solid brand-green
    
    .navbar-nav
        > .active > a
          &,
          &:hover,
          &:focus
            color: inherit;
            background-color: rgba(0, 0, 0, 1);
        