@import colors
@import login

body
    background-color: bg

// Top navigation
.cb-top-menu
    //border-top: 6px solid brand-green
    background-color: menu-bg
    font-weight: bold
    
    // Sign up/user menu item
    .cb-user-menu
        color: brand-green !important
        &:hover
            background-color: rgba(76,175,80,.2)
    

    // Brand menu item
    .cb-brand-menu
        border-radius: 0
        text-indent: -1000em
        width: 180px
        height: 100%
        background: url(/images/brand.png) no-repeat center center
        &:hover
            background-color: transparent !important



// Page content
.page-content
    padding: 100px 0

// Footer
.page-footer
    background: footer-bg
    color: footer-text
    font-size: 14px
    border-top: 10px solid footer-border
    padding: 20px 0 20px
    
    p
        margin-bottom: 5px

    .brand-footer
        width: 120px
        height: 30px
        margin-bottom: 10px
        background: url(/images/brand-footer.png) no-repeat left top
    
    .brand-copyright
        font-size: 10px
        margin-bottom: 30px
        
        [class^=mdi-]
        [class*=mdi-]
            font-size: 14px

    for n in 1..6
        h{n}
            color: footer-heading
    
    a
        color: footer-text
        
        &:hover
            color: footer-text-hover
    
    ul.bottom-menu
        margin: 0 0 30px
        padding: 0

        li
            list-style: none
            margin-bottom: 10px
            
// Bootstrap
.btn.btn-lg
    padding: 20px 30px
    