@import colors

.social-icons
    .md-button.md-fab
        font-size: 24px
        
        &.cb-facebook
            background: facebook
            color: social-text
        &.cb-facebook:hover
            background: facebook-light
        &.cb-google
            background: google
            color: social-text
        &.cb-google:hover
            background: google-light
        &.cb-vk
            background: vk
            color: social-text
        &.cb-vk:hover
            background: vk-light
        &.cb-twitter
            background: twitter
            color: social-text
        &.cb-twitter:hover
            background: twitter-light