@import colors

.social-icons
    .btn
        margin: 0 5px
        &.fb
            background: facebook
            color: social-text
        &.fb:hover
            background: facebook-light
        &.go
            background: google
            color: social-text
        &.go:hover
            background: google-light
        &.vk
            background: vk
            color: social-text
        &.vk:hover
            background: vk-light
        &.tw
            background: twitter
            color: social-text
        &.tw:hover
            background: twitter-light