extends layout

block content
    .container
        a.btn.btn-default.btn-lg.btn-raised(href='#') Default
        a.btn.btn-primary.btn-lg.btn-raised(href='#') Primary
        a.btn.btn-success.btn-lg.btn-raised(href='#') Success
        a.btn.btn-info.btn-lg.btn-raised(href='#') Info
        a.btn.btn-warning.btn-lg.btn-raised(href='#') Warning
        a.btn.btn-danger.btn-lg.btn-raised(href='#') Danger

        p
            span Simple test with a 
            a(href='#') link
