doctype html
html(lang='en', ng-app='clbr', ng-controller='ClickberryCtrl')
    head
        meta(http-equiv='content-type', content='text/html; charset=utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        title(ng-bind="pageTitle") Clickberry Video Portal

        link(rel='shortcut icon', href='/favicon.png', type='image/x-icon')
        link(rel='icon', href='/favicon.png', type='image/x-icon')

        link(rel='stylesheet', href='/css/angular-material.min.css')
        link(rel='stylesheet', href='/css/font-awesome.min.css')
        link(rel='stylesheet', href='/css/clbr.min.css')
    body
        div(layout="column").ng-cloak
            cb-menu

            .cb-page-content
                block content

            footer.page-footer
                section
                    div(layout="row", layout-sm="column")
                        div(flex="30", flex-sm="100")
                            .brand-footer
                            .brand-copyright
                                p 
                                    span Made with 
                                    i.fa.fa-heart
                                    span  by Clickberry
                        div(flex="15", flex-sm="100", layout-padding)
                            ul.bottom-menu
                                li 
                                    a(href='#') About Clickberry
                                li 
                                    a(href='#') Terms of service
                                li 
                                    a(href='#') Contacts
                        div(flex="15", flex-sm="100", layout-padding)
                            ul.bottom-menu
                                li 
                                    a(href='#') My videos
                                li 
                                    a(href='#') My likes
                                li 
                                    a(href='#') Feed
                                li 
                                    a(href='#') Trends
                                li 
                                    a(href='#') Profile
                        div(flex="15", flex-sm="100", layout-padding)
                            ul.bottom-menu
                                li 
                                    a(href='#') Online editor
                                li 
                                    a(href='#') Desktop app
                        div(flex="15", flex-sm="100", layout-padding)
                            ul.bottom-menu
                                li 
                                    a(href='https://github.com/clickberry/web-services') Github
                                li 
                                    a(href='#') API
                        div(flex="10", hide-sm)


        script(src='/js/jquery.min.js')
        script(src='/js/angular.min.js')
        script(src='/js/angular-ui-router.min.js')
        script(src='/js/angular-material.min.js')
        script(src='/js/clbr.min.js')
